// Font families:
$ffamily-heading: 'Lora', 'Times New Roman', Times, serif;
$ffamily-body: 'Roboto', Arial, Helvetica, sans-serif;
$ffamily-script: 'Homemade Apple', Arial, Helvetica, sans-serif;

// Monochrome colors:
$color-white: #fff;
$color-grey: #5f5f5f;
$color-black: #222;
$color-grey-lt: #fafafa;
$color-grey-md: #afafaf;
$color-grey-dk: #434343;

// Accent colors:
$color-accent-red: red;

// Letter-spacing:
$lspacing-df: .025em;